.license-banner {
    width: 800px;
    height: 280px;
    background-color: #8BC34B;
    border-radius: 20px;
    margin: 0 auto 50px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.license-banner-header {
    font-size: 32px;
    font-weight: bold;
    margin: 12px 0 0;
}

.license-banner-content {
    flex-grow: 1;
    display: flex;
    gap: 30px;
    padding: 0 50px;
}

.license-banner-content-item {
    flex: 7 1 0px;
    min-width: 0;
    text-align: left;
    font-size: 16px;
}

.license-banner-content-info {
    flex: 5 1 0px;
    line-height: 20px;
    padding-top: 4px;
}

.license-banner-content-info-img-container {
    float: left;
    position: relative;
    height: 100%;
    width: 70px;
    shape-outside: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);

}

.license-banner-content-item-list {
    line-height: 12px;
    margin-top: 2px !important;
    margin-bottom: 8px !important;
}

.license-banner-emoji {
    width: 64px;
    height: 64px !important;
}

.license-banner-pricing-container {
    display: flex;
    margin-bottom: 14px;
}

.license-banner-pricing-message {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    line-height: 26px;
    word-wrap: break-word;
}

.license-banner-price {
    font-size: 35px;
}

.license-banner-link {
    color: var(--md-primary-bg-color--light) !important;
    font-size: 16px;
    padding-bottom: 20px;
}

.license-banner-link:hover {
    color: white !important;
}

